

 <div class="parallax-container par-text">
    <div class="parallax"><img class="responsive-img"src="images/background1.jpg"></div>
  </div>
  <div class="section white">
    <div class="row container">
      <a href ="/gardens"><h2 class="header">Herb Garden</h2></a>
      <p class="grey-text text-darken-3 lighten-3">Hop in and start keeping track of the plants in your herb garden.</p>
    </div>
  </div>

  
  <div class="parallax-container">
    <div class="parallax"><img class="responsive-img" src ="images/herb_garden.jpg"></div>
  </div>
   <div class="section white">
    <div class="row container">
   <h2 class="header">Vegetable Garden</h2>
      <p class="grey-text text-darken-3 lighten-3">Vegetable garden inventory tracker. Hop in and map out how many tomatoes, peppers, cucumbers, and more you have in your garden as you plant.</p>
    </div>
  </div>


  <div class="parallax-container">
    <div class="parallax"><img class="responsive-img" src ="images/vegetable_garden.jpg"></div>
  </div>
      

{{!-- 
<a href="/users" class="btn">Users</a>


<a href="/gardens" class="btn orange">Enter</a> --}}