<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
 
         <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
<!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
                {{!-- CSS stylesheet created by ecpress --}}
         <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>


   <div class="navbar-fixed">
     <nav class="white" role="navigation">
       <div class="container">
         <div class="nav-wrapper">
            <div id="logo-container">
              <a href ="#"></a>
              <a href ="#" class="brand-logo left black-text">Gardens</a>
                <div class ="menu-container">
                  <ul class="right black-text">
                    <li><a href="/" class="black-text">Main Page</a></li>
                    <li><a href="/gardens" class="black-text">Herb Garden</a></li>
                    <li><a href="/users" class="black-text">Users</a></li>
                  </ul>
                </div>
            </div>
         </div>
       </div>
     </nav>
    </div> 


    {{{body}}}

       {{!-- <!--Import jQuery before materialize.js--> --}}
      <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
      {{!-- <!-- Compiled and minified JavaScript --> --}}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

    <footer class="page-footer abrown-footer">
          <div class="container">
            <div class="row">
              <div class="col l3 s12 m6">
                
              </div>
              <div class="col l4 offset-l2 s12">
                <a class="white-text text-lighten-4" href="/">garden</a>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2017 
            </div>
          </div>
        </footer>  
  </body>
</html>


