
a {
  color: #00B7FF;
}


nav{
  background-color:(247, 235, 213, 0.56);
}

 body {
  background-color: rgb(246, 244, 241);
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  background-color: rgb(246, 244, 241);
  flex: 1 0 auto;
  padding: 0, auto;
} 

.plant-show{
  text-align: center;
}

.btn{
 color: white
}

/* .plant-gallery{
display: flex;
flex-direction: row;
flex-wrap: row wrap;
justify-content: center;
align-items: center;
align-content: center;
height: 600px;
} */



/* table{
  display: flex;
  flex-wrap: wrap;
  flex-flow: row wrap;
}
td{
  width: 5000px;
 
} */
     
form{
  padding: 50px;

}


.page-footer{
  text-align: center;
  background-color: rgba(247, 235, 213, 0.56);
}


/* .parallax-container{
 position: relative; 
 overflow: hidden;

} */

/* .parallax img{
  width: auto;
  height: 100%;
  display: inherit !important;
} */
/* .parallax-mirror,#vurtUnderlay{
  height:auto!important;
  width:100%!important;
  padding:45% 0 0;    
}
.parallax-mirror img{width:100%!important;height:100%!important} */