
a {
  color: #00B7FF;
}


nav{
  background-color:(247, 235, 213, 0.56);
}

 body {
  background-color: rgb(246, 244, 241);
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  background-color: rgb(246, 244, 241);
  flex: 1 0 auto;
  height: 100px;
} 

.plant-gallery{
height: 600px;
display: flex;
flex-direction: row;
justify-content: flex-start;
flex-wrap: wrap;
align-items: center;
}



/* table{
  display: flex;
  flex-wrap: wrap;
  flex-flow: row wrap;
}
td{
  width: 5000px;
 
} */
     

 #plant-form-id{
  padding: 50px
}

.plant-from{
  height: 1000px;
} 

.page-footer{
  background-color: rgba(247, 235, 213, 0.56);
}


.parallax-container{
 position: relative; 
 /* overflow: hidden; */

}

.parallax img{
  /* width: auto;
  height: 100%; */
  display: inherit !important;
}
/* .parallax-mirror,#vurtUnderlay{
  height:auto!important;
  width:100%!important;
  padding:45% 0 0;    
}
.parallax-mirror img{width:100%!important;height:100%!important} */