a{
  color: black;
}

nav{
  font-family: "Didact Gothic", sans-serif;
    background-color: rgba(247, 235, 213, 0.56);
  /* background-color:(247, 235, 213, 0.56); */
}

 body {
  font-family: "muli", sans-serif;
  background-color: rgb(246, 244, 241);
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  background-color: rgb(246, 244, 241);
  flex: 1 0 auto;
  padding: 0, auto;
} 

.plant-show{
  text-align: center;
}

.user-wrapper{
  padding: 60px;
  height: 550px;
}

.new-plant{
  position: relative;
  /* left: 1200px; */
  text-align: right;
  margin-right: 12px;
}

.par-text{
  font-family: "didiact gothic", sans-serif;
}
     
form{
  padding: 50px;
  font-family: "quicksand", sans-serif;
}

h2{
  padding: 15px;
}

li a{
  color: black;
  margin-right: 20px;
}

.brand-logo{
  margin-left: 20px;
}

.title {
font-family: "Poiret-One", sans-serif;
padding-left: 10px;
}


.page-footer{
  color: #593824;
  text-align: right;
  background-color: rgba(247, 235, 213, 0.56);
}



/* // from materialize */
  /* label color */
  /* .input-field label {
    color: #59352A */

    /* // from materialize */
/* label underline focus color */
/* .input-field input[type=text]:focus {
  border-bottom: 1px solid #59352A;
  box-shadow: 0 1px 0 0 #59352A; */

