<div>
    <div class="user-wrapper">

    <div>
    <h4 class="welcome-users">Welcome Users</h4>
    </div>
    <div>
    </div>


    {{!-- <a href="/">Return to main page</a>  --}}

<div class="user-div">
<ul>
{{#each users}}

 <li class ="user-in-list"><a href="/users/{{this._id}}">{{this.name}}</a></li>

{{/each}}
</ul>
</div>


 <a class ="btn btn-small waves-effect orange accent-1" href="/users/new">Create a user profile</a>

</div>

</div>