<h2>Welcome New User</h2>

<a href="/">Return to main page</a>


<div id="user-form-id" class="user-class">

    <form action="/users" method="POST">

        <label for="name">Name</label>
        <input type="text" name="name">

        <button type="submit">Create</button>

    </form>

</div>