<h2>Welcome New User</h2>



<div id="user-form-id" class="user-class">

    <form action="/users" method="POST">

        <label for="name">Name</label>
        <input type="text" name="name">

        <button class="btn btn-small waves-effect orange accent-1" type="submit">Create</button>
<br>
<br>

<div>
<a class="btn btn-small waves-effect brown lighten-3" href="/users">Return to users page</a>
</div>

    </form>

</div>