<div class="user-wrapper">
 {{!-- <a href="/">Return to main page</a>


 <a href="/users">Return to users page</a>
 --}}


<h1>{{users.name}}</h1>

<div>
    <a href="/users/{{users._id}}/edit">Edit</a>
</div>

<div>
    <a href="/users/{{users._id}}/delete">Delete</a>
</div>


</div>
