<h2>Add a plant</h2>

<a href="/gardens">Return to main page</a>


	<div id="plant-form-id" class="plant-class">

	<form action="/gardens/{{gardenId}}/plants" method="POST">

    <label for="name">Name</label>    
    <input type="text" name="name">

    <label for="description">description</label>
    <input type="text" name="description">


	<label for="img">image</label>
    <input type="string" name="image">

	<label for="price">price</label>
    <input type="number" name="price">

    <label for="edible">edible</label>
    <input type="boolean" name="edible">


    <button type="submit">Create</button>

</form>